<html>

  <head>
    <title>Test for Burda </title>
  </head>
  <body>
  <div id="inputTitle">
    Please enter a movie title :
  </div>
  <div id="userInput">
    <input type="text" (keydown.enter)="this.callAPI()"name="title" placeholder="Enter a movie title">
    <button class="button" (click)="this.callAPI()"> > </button>
  </div>

  <div id="empty" *ngIf="this.moviesList.length == 0 && this.started">
    Nothing found, please check again
  </div>

  <div id="moviesList" *ngIf="this.moviesList.length > 0">
    <div *ngFor="let movie of this.moviesList">
      <app-display-movie [movie]="movie"></app-display-movie>
    </div>
  </div>

  </body>
</html>
